input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  @import url('https://fonts.googleapis.com/css?family=Times&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:#D7CEC7;
    
}
nav{
    display: flex;
    justify-content: center;
    color: black;
    background-color: #828282;
}

a { 
    color:black;
}

ul{
    display: inline;
    list-style: none;   
}
ul li{
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    font-size: 30px;
}

h1{
    font-size: 50px;
    margin-top: 70px;
}

h2{
    font-size: 30PX;
}